* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

ul, li {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

header .h-top {
  background: #0282F9;
  padding: 3px;
}
header .h-top .box-link ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .h-top .box-link ul li:first-child {
  margin-right: 60px;
}
header .h-top .box-link ul li a {
  color: #fff;
  text-transform: uppercase;
}
header .h-bottom {
  border-bottom: 1px solid lightgray;
}
header .h-bottom .container .main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .h-bottom .container .main-box .box-logo {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .h-bottom .container .main-box .box-logo img {
  width: 80px;
}
header .h-bottom .container .main-box .box-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .h-bottom .container .main-box .box-menu ul li {
  margin-right: 20px;
}
header .h-bottom .container .main-box .box-menu ul li a {
  color: #464646;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
header .h-bottom .container .main-box .box-menu ul li a:hover, header .h-bottom .container .main-box .box-menu ul li a:active {
  color: #0282F9;
}
header .h-bottom .container .main-box .box-search {
  border-bottom: 2px solid #0282F9;
}
header .h-bottom .container .main-box .box-search .input-menu {
  text-align: right;
  border: none;
}
header .h-bottom .container .main-box .box-search .input-menu::-moz-placeholder {
  color: black;
  font-weight: bold;
}
header .h-bottom .container .main-box .box-search .input-menu:-ms-input-placeholder {
  color: black;
  font-weight: bold;
}
header .h-bottom .container .main-box .box-search .input-menu::placeholder {
  color: black;
  font-weight: bold;
}

main #bg-hero {
  background-image: url("/images/jumbotron.jpg");
  background-repeat: none;
  background-size: cover;
  min-height: 400px;
}
main #card {
  padding: 40px;
  background: #232323;
  color: #fff;
}
main #card h2 {
  display: inline-block;
  padding: 10px;
  background: #0282F9;
  color: #fff;
  transform: translateY(-65px);
}
main #card .box-image {
  height: 180px;
  overflow: hidden;
  margin-bottom: 10px;
}
main #card .box-image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #card p {
  text-transform: uppercase;
}
main #banner {
  background: #0282F9;
  color: #fff;
}
main #banner .box-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #banner .box-banner .box-img img {
  max-width: 30px;
  margin-right: 5px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main #banner .box-banner .box-text h3 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: bold;
}
main #blue-banner {
  background: #0282F9;
  height: 80px;
}
main #blue-banner .container {
  position: relative;
}
main #blue-banner .container .box-image {
  transform: translateY(-82%);
}
main #details-cart-top {
  padding: 80px 0;
}
main #details-cart-top .main-box-details-top .title h1 {
  color: #003f5e;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 30px;
}
main #details-cart-top .main-box-details-top .box-price {
  background: #55BA59;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #details-cart-top .main-box-details-top .box-price p {
  margin: 0;
}
main #details-cart-top .main-box-details-top .box-price .avaiable p {
  text-transform: uppercase;
  color: #bafd9c;
}
main #details-cart-top .main-box-details-top .description {
  margin-top: 20px;
}
main #details-cart-top .main-box-details-top .description p {
  font-size: 14px;
  line-height: 23px;
  color: #555555;
}
main #details-card-bottom {
  padding: 30px;
  background: #F6F6F6;
}
main #details-card-bottom .talent-box .title {
  border-bottom: 1px solid lightgray;
}
main #details-card-bottom .talent-box .title h2 {
  color: #003f5e;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 20px;
}
main #details-card-bottom .talent-box .info .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 7px 0;
}
main #details-card-bottom .talent-box .info .box p {
  margin: 0;
  font-size: 14px;
  color: #003f5e;
  font-weight: bold;
  letter-spacing: -1px;
}
main #details-card-bottom .spec-box .title {
  border-bottom: 1px solid lightgray;
}
main #details-card-bottom .spec-box .title h2 {
  color: #003f5e;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 20px;
}
main #details-card-bottom .spec-box .info .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 7px 0;
}
main #details-card-bottom .spec-box .info .box p {
  margin: 0;
  font-size: 14px;
  color: #003f5e;
  font-weight: bold;
  letter-spacing: -1px;
}

footer {
  color: #fff;
}
footer .f-top {
  background-image: url("/images/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
footer .f-top .box-image {
  position: absolute;
  right: 80px;
  overflow: hidden;
  top: -60px;
}
footer .f-top .container {
  display: flex;
}
footer .f-top .container .box-text-end {
  margin-top: 20px;
  padding-bottom: 30px;
}
footer .f-top .container .box-text-end p {
  font-size: 13px;
  margin: 0;
  color: #959595;
}
footer .f-top .main-box {
  padding-top: 30px;
  margin-right: 60px;
}
footer .f-top .main-box .box-link ul {
  padding: 0;
}
footer .f-top .main-box .box-link ul li a {
  color: #959595;
  font-size: 13px;
  text-transform: capitalize;
}
footer .f-top .main-box .box-link ul li a:hover {
  color: #0282F9;
}
footer .f-top .main-box .title h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
footer .f-top .main-box .box-2 {
  margin-top: 20px;
}
footer .f-bottom {
  background: #303030;
  padding: 30px 0;
}
footer .f-bottom .main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .f-bottom .main-box .box-left .btn {
  text-transform: uppercase;
  padding: 10px;
  font-size: 22px;
  border: 2px solid #0282F9;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
footer .f-bottom .main-box .box-left .btn:hover {
  background: #0282F9;
}
footer .f-bottom .main-box .box-right .main-box .box-social {
  display: flex;
}
footer .f-bottom .main-box .box-right .main-box .box-social .box-img {
  margin-left: 15px;
  cursor: pointer;
}
footer .f-bottom .main-box .box-right .main-box .box-text p {
  color: #0282F9;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}