//

main {

    #bg-hero {
        background-image: url("/images/jumbotron.jpg");
        background-repeat: none;
        background-size: cover;
        min-height: 400px;
    }

    #card {
        padding: 40px;
        background: $bg_box_card;
        color: #fff;

        h2 {
            display: inline-block;
            padding: 10px;
            background: $primary_color;
            color: #fff;
            transform: translateY(-65px);
        }

        .box-image {
            height: 180px;
            overflow: hidden;
            margin-bottom: 10px;

            img {
                max-width: 100%;
                object-fit: cover;
            }
        }

        p {
            text-transform: uppercase;
        }
    }

    #banner {
        background: $primary_color;
        color:#fff;

        .box-banner {
            display: flex;
            justify-content: center;
            align-items: center;

            .box-img {

                img {
                    max-width: 30px;
                    margin-right: 5px;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .box-text {

                h3 {
                    font-size: 12px;
                    text-transform: uppercase;
                    margin: 0 auto;
                    font-weight: bold;
                }
            }
        }
    }

    #blue-banner {
        background: $primary_color;
        height: 80px;

        .container {
            position: relative;

            .box-image {
                transform: translateY(-82%);
            }
        }
    }

    #details-cart-top {
        padding: 80px 0;

        .main-box-details-top {

            .title {

                h1 {
                    color: $blue_details;
                    font-size: 38px;
                    text-transform: uppercase;
                    letter-spacing: -1px;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
            }

            .box-price {
                background: $green_detail;
                color: #fff;
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    margin: 0;
                }

                .avaiable {

                    p {
                        text-transform: uppercase;
                        color: #bafd9c;
                    }
                }
            }

            .description {
                margin-top: 20px;

                p {
                    font-size: 14px;
                    line-height: 23px;
                    color: $gray_details;
                }
            }
        }
    }

    #details-card-bottom {
        padding: 30px;
        background: $bg_bottom_detail;

        .talent-box {

            .title {
                border-bottom: 1px solid lightgray;
                h2 {
                    color: $blue_details;
                    font-size: 22px;
                    font-weight: bold;
                    letter-spacing: -1px;
                    padding-bottom: 20px;
                }
            }

            .info {

                .box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid lightgray;
                    padding: 7px 0;

                    p {
                        margin: 0;
                        font-size: 14px;
                        color: $blue_details;
                        font-weight: bold;
                        letter-spacing: -1px;
                    }
                }
            }
        }

        .spec-box {

            .title {
                border-bottom: 1px solid lightgray;
                h2 {
                    color: $blue_details;
                    font-size: 22px;
                    font-weight: bold;
                    letter-spacing: -1px;
                    padding-bottom: 20px;
                }
            }

            .info {

                .box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid lightgray;
                    padding: 7px 0;

                    p {
                        margin: 0;
                        font-size: 14px;
                        color: $blue_details;
                        font-weight: bold;
                        letter-spacing: -1px;
                    }
                }
            }
        }
    }

}
