//

main {

    #bg-hero {
        background-image: url("/images/jumbotron.jpg");
        background-repeat: none;
        background-size: cover;
        min-height: 400px;
    }

    #card {
        padding: 40px;
        background: $bg_box_card;
        color: #fff;

        h2 {
            display: inline-block;
            padding: 10px;
            background: $primary_color;
            color: #fff;
            transform: translateY(-65px);
        }

        .box-image {
            height: 180px;
            overflow: hidden;
            margin-bottom: 10px;

            img {
                max-width: 100%;
                object-fit: cover;
            }
        }

        p {
            text-transform: uppercase;
        }
    }

    #banner {
        background: $primary_color;
        color:#fff;

        .box-banner {
            display: flex;
            justify-content: center;
            align-items: center;

            .box-img {

                img {
                    max-width: 30px;
                    margin-right: 5px;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .box-text {

                h3 {
                    font-size: 12px;
                    text-transform: uppercase;
                    margin: 0 auto;
                    font-weight: bold;
                }
            }
        }
    }

}
