$primary_color:#0282F9;
$menu_link_color:#464646;
$bg_box_card:#232323;
$footer_link_color:#959595;
$blue_details:rgb(0, 63, 94);
$green_detail:#55BA59;
$gray_details:rgb(85, 85, 85);
$bg_bottom_detail:#F6F6F6;
